[2020-12-07 16:50] ackerleytng opened #2 "Look into implementation/use of revocation-url"
louketo seems to be calling the `end_session_endpoint` on keycloak, which is not the revocation endpoint, I believe? Keycloak seems to have an undocumented revocation endpoint at `/revoke`, according to https://github.com/keycloak/keycloak/pull/6704.

If this is more of a logout endpoint than revocation endpoint, we should rename the config variable and improve docs.

Token revocation is defined b

[2020-12-11 10:11] PraserX opened #3 "New release"
Hi there,

I don't know if it is a feature or bug report, but is it possible to publish new (first) release with some binary assets? I know that there is no new feature or something, but I migrating my projects from Louketo proxy to this Gatekeeper. It would make my job much easier.

Thanks.

[2020-12-12 11:02] Limess opened #4 "Token renewal is not tracked in metrics"
# Title

Token renewal is not tracked in metrics

## Summary

Since this commit: https://github.com/louketo/louketo-proxy/pull/630/files

Token renewals are no longer tracked as the code path is not used (https://github.com/louketo/louketo-proxy/blob/0395e26dce9dd06c47adbced8fa358634e772038/oauth.go#L143-L145).

## Environment

- Louketo: 1.0.0

## Expected

A metric `proxy_oauth_tokens_total` wit

[2020-12-12 19:28] p53 opened #5 "Update documentation"
Remove louketo from README and user docs

[2020-12-12 19:29] p53 opened #6 "Improve CI & tests"

[2020-12-12 19:29] p53 opened #7 "Merge easy pull requests from louketo project"

[2020-12-12 19:30] p53 opened #8 "Update oidc library - they are quite old"

[2020-12-12 19:45] p53 opened #9 "Set up quay.io docker repo"

[2020-12-13 15:40] n0emis opened #11 "Gatekeeper requires the `iss`-claim in the auth-token"
# Gatekeeper requires the `iss`-claim in the auth-token

## Summary
Gatekeeper does not work with SimpleSamlPHP (with the OIDC-Module enabled) as a IdP.

Gatekeeper requires the `access_token` to have specific information (for example groups, the `iss`-claim etc..).

Following the OpenID Connect Spec, all this data should be in the `id_token` (https://openid.net/specs/openid-connect-core-1_0.html#

[2020-12-13 16:00] n0emis commented on #11
When commenting this part out, it suddenly works. Although then roles from keycloak are no longer detected.

https://github.com/go-gatekeeper/gatekeeper/blob/b043dea3a21d9ca5955edbe194b572db9b7d6b8c/handlers.go#L142-L148

Maybe some kind of config option could solve this?

[2020-12-13 17:13] p53 commented on #6
make also integration tests

[2020-12-13 17:26] p53 commented on #11
yup, there was already issue with old louketo for this, access token is verified instead of id token, per spec

[2020-12-13 19:35] p53 commented on #11
problem is more complex, gatekeeper fullfils two things 1. is authentication -> authorization code flow 2. authorization (authorizing access tokens), with 1. you need according spec to validate only id token but we are also doing 2. and in that case we need to verify also access tokens - question is how, currently in code, you commented, gatekeeper uses oidc library, which is intended for verifica

[2020-12-13 21:00] p53 commented on #3
working on it

[2020-12-15 01:28] p53 commented on #3
@PraserX made 1.1.0-rc1 release, can you try if everything is smooth, should not be problems because tried to not do any unneeded changes

[2020-12-15 06:35] ackerleytng commented on #11
Perhaps upgrading to the current version of https://github.com/coreos/go-oidc would change things here, and allow gatekeeper to be more spec-compliant. The `IdentityFromClaims` function seems to have been removed from the current version.

One problem here is that current users of gatekeeper might be relying on this check for authorization, so changing to be more spec-compliant actually kind of re

[2020-12-15 09:54] p53 commented on #11
@ackerleytng yup oidc is all over the code (i already tried to update it) we will need also to update jose library...it will be quite big change->it would be good to have integration tests before such changes (quite a lot of work), but would still solve this problem only partially, we would need to introduce some switches for on/off authorization (by default can be on to be backward compatible)

[2020-12-15 10:41] damien-d-gerard commented on #11
Hi guys,
Is there any plan to upgrade on go-oidc v2?
I'm still blocked on this issue https://github.com/louketo/louketo-proxy/issues/567 without a solution 😭

@p53 maybe the solution is to create a new Major Branch with no backward compatiblility ?

[2020-12-15 12:56] p53 opened #17 "Update jose library"

[2020-12-15 12:57] p53 commented on #9
https://quay.io/organization/gogatekeeper

[2020-12-15 12:57] #9 closed

[2020-12-15 19:08] p53 commented on #11
@damien-d-gerard i had same issue with keycloak, you can workaround this by adding audience to your client - at least in keycloak, this issue doesn't require to upgrade to go-oidc v2 problem is that code verifies access_token instead of id token with method designed for id token, we should be able relatively easily to fix this but this will create incompatibility+not verifying access token which i

[2020-12-22 02:07] p53 commented on #3
@PraserX 1.1.0 was released

[2020-12-22 02:08] #3 closed

[2020-12-22 02:08] #5 closed

[2020-12-22 22:32] p53 commented on #11
@damien-d-gerard @n0emis could you check this pull request https://github.com/gogatekeeper/gatekeeper/pull/20, try to build and test on your use case

[2020-12-22 22:54] n0emis commented on #11
No, unfortunately not:
[code]

[2020-12-23 00:53] p53 commented on #11
@n0emis sorry forgot to turn off issuer check, now is there https://github.com/gogatekeeper/gatekeeper/pull/20/commits/498361d14f363d36a1e410cbac4ce2b0392e8257

[2020-12-23 01:07] n0emis commented on #11
Thanks, now it works

[2020-12-26 05:38] ackerleytng opened #21 "getRequestHostURL should support X-Forwarded-Proto"
When determining `redirect_uri` to during a logout redirect request, gatekeeper does not use X-Forwarded-Proto.

If gatekeeper is proxied behind something else that terminates TLS, the generated `redirect_uri` will be wrong, and may result in a broken logout flow.

[2021-01-11 12:24] yyunikov opened #22 "Basic auth translation mode"
# Title

Basic auth translation mode

## Summary

I'm looking for a way to use basic auth on Gatekeeper proxy using central identity server such as Keycloak:
- Client passes basic auth credentials to Gatekeeper
- Gatekeeper makes a call using [Password grant flow](https://oauth.net/2/grant-types/password/) to OAuth server to authenticate
- Based on that authentication is either succeeded or failed

[2021-01-15 14:21] p53 commented on #22
1. i understand this is simplest solution for integrating e.g. API's, you don't have to request for any token
2. you can place gatekeeper in authentication proxy mode before prometheus and on client side use forward-signing proxy (with resource owner credential grant setup
3. Problem might be that proxy in such mode receives everyone credentials then some people can also expect caching of access/r

[2021-01-15 21:53] p53 commented on #11
@n0emis @damien-d-gerard @akifkhan01 - there is 1.2.0-rc1 release please try out, there are two new flags SkipAccessTokenIssuerCheck, SkipAccessTokenClientIDCheck

@vxavictor513 @Adriien-M - i think this issue https://github.com/louketo/louketo-proxy/issues/670 should be resolved in our 1.2.0-rc1 release

[2021-01-15 22:05] p53 commented on #2
when i check my keycloak and also on stackoverflow, keycloak endpoints were:
[code]

so there wasn't any explicit revocation endpoint
also according this issue https://github.com/louketo/louketo-proxy/issues/662, keycloak 10.0.0 introduces new revocation endpoint, however you can set any revocation endpoint through option, we can set new keycloak revocation endpoint as default

[2021-01-16 21:08] p53 opened #23 "fix: headers with equals"
# Title
Fix: headers with equals

## Summary

see https://github.com/louketo/louketo-proxy/pull/455

## Environment

## Expected Results

## Actual Results

## Steps to reproduce

## Additional Information

[2021-01-16 22:07] p53 opened #25 "x509: certificate signed by unknown authority when using"
Check https://github.com/louketo/louketo-proxy/issues/657

[2021-01-18 01:18] ackerleytng opened #26 "Remove ClientAuthMethod, it's not being used"
ClientAuthMethod is read as a configuration option, but is not being used. We should clean this up!

[2021-01-20 12:07] yyunikov commented on #22
@p53 thanks for reply. yes, I've considered forward proxy mode on client side and that would indeed work. though client side setup should be very minimal in our use case, though would be nice to have such option.

[2021-01-20 21:27] p53 opened #29 "SkipTokenVerification should completely skip token verification"
# Title

SkipTokenVerification should completely skip token verification

## Summary

SkipTokenVerification should completely skip token verification.

Right now, it gets the access token from request and parses it the token as a JWT (Oauth spec according spec doesn't assume access token must be JWT) and checks if the access token is expired.

## Why?

If we completely skip token verification, use

[2021-01-20 21:28] p53 commented on #29
@ackerleytng @statik @fredbi what do you think?

[2021-01-21 04:36] ackerleytng commented on #29
I updated the issue with as I understand it, please correct it if my understanding is not correct.

`SkipTokenVerification` was meant to be for testing only, and I think the logic is rather difficult to follow, because it is distributed over a few places in the code.

I feel that if we want to allow people to use alternative types of access tokens, we should be supporting other means of verificati

[2021-01-21 09:46] p53 commented on #29
i had typo in title..., what i can see from code it is effectively used only in authenticationMiddleware for veryfing access token, with turning of verification we would completely leave on user how he would like to verify access token and they could use our proxy in combination with some other software to verify access token in incoming requests right away (maybe they already have some solution p

[2021-01-23 09:15] p53 opened #32 "[KEYCLOAK-9379] Health, metrics and profiling on separate port"
see https://github.com/louketo/louketo-proxy/pull/464

[2021-01-23 09:17] p53 opened #33 "[KEYCLOAK-9794] Fixed base64 encoding issues with redirect_uri cookie"
see https://github.com/louketo/louketo-proxy/pull/467

[2021-01-23 09:20] p53 commented on #32
assigned critical priority because in production this might cause big performance problems

[2021-01-23 09:21] p53 opened #34 "[KEYCLOAK-10242] Fix setting X-Forwarded-For & X-Real-IP"
see https://github.com/louketo/louketo-proxy/pull/492

[2021-01-23 09:23] p53 opened #35 "[KEYCLOAK-10265] Support for client credentials grant when in forward-signing mode"
see https://github.com/louketo/louketo-proxy/pull/478

this is quite important thing in case of machine to machine communication credentials grants should be used not resource owner grant

[2021-01-24 21:50] ackerleytng commented on #29
I'm okay to go ahead if @statik or @fredbi are for fully skipping token verification, or if any users chime in to request this.

The original developers must have had their reasons for retaining the functionality for checking expiration but skipping other verification, because it would have been easier to skip verification completely.

There might exist some users who are, like you suggested, usin

[2021-01-25 21:24] p53 opened #36 "Encryption & Login handler"
With this configuration:

[code]

 When i issue login request:

[code]

 i see that i get unencrypted access token in cookie altough enable-encrypted-token is true, there is missing encryption before dropAccessCookie method:

[code]

 see this in oauthcallback handler https://github.com/gogatekeeper/gatekeeper/blob/671e7cfa50cf520f4175232ca62a3a92be82c106/handlers.go#L208 this is missing in login

[2021-01-25 22:15] p53 commented on #2
as per keycloak implementation https://github.com/keycloak/keycloak/pull/6704, they support in token parameter only refresh tokens, as found loginHandler doesn't provide refresh token in cookies so if logging in via loginHandler we are unable to logout because we don't have refresh token (unless enabled store, didn't check if that's not buggy...)

[2021-01-25 22:40] p53 opened #37 "Login handler doesn't provide refresh token in cookie only access token"
see also https://github.com/gogatekeeper/gatekeeper/issues/2 comments

doing curl:

[code]

content of cookie jar:

[code]

refresh token not in cookies and thus as per issue mentioned above also unable to logout if no storage is enabled because we get refresh token from storage or from cookies...

[2021-01-29 09:14] #8 closed

[2021-01-29 09:14] #11 closed

[2021-01-29 09:14] #17 closed

[2021-01-31 00:47] #7 closed

[2021-02-01 20:27] p53 opened #42 "Update backward compatible dependencies to latest available"
# Title

## Summary

## Why?

## How

## Acceptance criteria

## Additional Information

[2021-02-01 20:28] p53 opened #43 "Add tests for Headers & Cookies, mainly check encryption and correctness after refreshing token"
# Title

## Summary

## Why?

## How

## Acceptance criteria

## Additional Information

[2021-02-01 20:29] p53 opened #44 "Update go version to 15"
# Title

## Summary

## Why?

## How

## Acceptance criteria

## Additional Information

[2021-02-03 06:20] #23 closed

[2021-02-03 06:20] #26 closed

[2021-02-03 21:18] #25 closed

[2021-02-03 21:44] #36 closed

[2021-02-03 21:44] #37 closed

[2021-02-03 21:46] #2 closed

[2021-02-03 21:49] p53 opened #45 "Set base image to scratch and make binary static in image"
# Title

## Summary

## Why?

## How

## Acceptance criteria

## Additional Information

[2021-02-03 21:53] jangaraj commented on #45
I would use `scratch` base image. It minimizes attack surface. Even alpine image will be insecure at some point in the future if you are not updating image regularly. `scratch` and static binary is the safest option for the container deployment.

[2021-02-03 22:36] p53 commented on #45
i was thinking about it :)

[2021-02-04 15:11] #45 closed

[2021-02-05 14:39] jonkerj opened #47 "Provide helm charts for Kubernetes deployment"
# Provide helm charts for Kubernetes deployment

## Summary

Provide a Helm chart to deploy keycloak-gatekeeper on Kubernetes.

## Why?

A lot of people, like me, are/were using keycloak-gatekeeper (or maybe louketo) on Kubernetes and used Helm to simplify deployment. Supplying a Helm chart simplifies this deployment and makes it attractive to migrate from the abandoned incarnations to Gatekeeper.

[2021-02-05 14:43] p53 opened #48 "Goreleaser doesn't produce static binaries"
there is bug in .goreleaser config

[2021-02-05 15:21] #48 closed

[2021-02-05 15:24] p53 commented on #47
this would be nice but there are quite many fixes needed+tests so i think it is low priority for now, but thanks for suggestion :+1:

[2021-02-06 23:01] p53 opened #50 "Potential import collision: import path should be "go.etcd.io/bbolt""
See https://github.com/louketo/louketo-proxy/issues/678

[2021-02-06 23:34] p53 opened #52 "Debug symbols are not stripped"
We can reduce binary size by stripping debug symbol table

[2021-02-12 21:55] p53 opened #57 "Enable signing of checksum"

[2021-02-16 11:42] dseynaev opened #59 "add link to docker images on quay to readme"
https://quay.io/repository/gogatekeeper/gatekeeper

if these are the official ones?

[2021-02-16 20:17] p53 commented on #59
@dseynaev in the README is example quay.io/gogatekeeper/gatekeeper, so i thinkg it is quite explicit

[2021-02-17 11:26] #59 closed

[2021-02-19 21:10] #42 closed

[2021-02-19 21:10] #50 closed

[2021-02-19 21:10] #52 closed

[2021-02-19 21:10] #44 closed

[2021-02-19 21:10] #43 closed

[2021-02-23 22:46] #57 closed

[2021-03-19 23:32] #35 closed

[2021-03-19 23:51] #32 closed

[2021-03-19 23:52] p53 opened #67 "Add more https tests"
# Title

## Summary

## Why?

## How

## Acceptance criteria

## Additional Information

[2021-03-20 00:29] p53 opened #68 "Fix websocket auth"
Look at
https://github.com/louketo/louketo-proxy/issues/682
https://github.com/louketo/louketo-proxy/issues/651
https://github.com/louketo/louketo-proxy/issues/667

[2021-03-28 21:07] mcejp opened #70 "Error 403 after changing OIDC provider"
## Summary

After using Gatekeeper with a certain OIDC provider for a while, and then reconfiguring it to use a different provider (e.g. a different instance of Keycloak), existing session cookies become "poisonous" and the users are no longer able to access the application.

## Environment

- Server (e.g. Keycloak or any other IdP): Keycloak
- Gatekeeper: 1.3.0 under Docker

## Expected Results

[2021-03-28 21:41] jangaraj commented on #70
IMHO it is expected error. Token from old IDP from the cookie is received and it's validated against new IDP. Solution can be configurable cookie names instead of constants:
https://github.com/gogatekeeper/gatekeeper/blob/79127acdcab7bd5b4d19b45e7bcac08189779f58/doc.go#L61-L62

Gatekeeper admin will have a option to "invalid" old cookie names with old IDP tokens, when there is a change of IDP. I w

[2021-03-29 05:22] p53 commented on #70
they are configurable, options:

[code]

but that could potentially break application

[2021-03-29 06:00] p53 commented on #70
Hi,

could you provide exact and all options you are using.

[2021-03-29 07:11] PraserX commented on #70
@mcejp I was facing similar issue. When I changed Client ID, the behavior was the same. The problem can be solved by deleting cookies. I think it is understandable, just like @jangaraj said. But I agree that it's inconvenienced.

[2021-03-29 08:07] p53 commented on #70
@mcejp - i would try to make IDP+clients etc.. with same configuration as on old IDP + export keys used for signing tokens from old IDP and import to new keycloak, haven't tried it yet, but it could work - did you try to export config from keycloak and import to new instance https://wjw465150.gitbooks.io/keycloak-documentation/content/server_admin/topics/export-import.html, but still depends on th

[2021-03-29 08:54] mcejp commented on #70
@p53 Thanks for your reply!

In fact, my 2 Keycloak instances are running in parallel, it's a bit like staging x production. So sharing keys among them probably wouldn't be right.

However, I wasn't aware of `cookie-access-name` (is it documented somewhere?) -- this seems it could be exactly what I need. I'll give it a try and report back.

[2021-03-29 09:35] p53 commented on #70
in case you won't share them it could not work, because JWT tokens are signed by them so when you switch instances of IDP, new IDP will have new keys => it will return that token is not valid => gatekeeper will return 403

As i checked it is not in documentation, will fix it, anyway to look on available options you can always check https://github.com/gogatekeeper/gatekeeper/blob/master/doc.go

[2021-03-30 08:57] oscar-b opened #72 "Using Boltdb results in permission denied error"
# Title

## Summary

Using BoltDB results in permission denied error

## Environment

[code]

## Expected Results

The BoltDb to be used...

## Actual Results

[code]

## Steps to reproduce

[code]

## Additional Information

Also tried creating a named volume and mounting that, with the same result.

[2021-03-30 11:48] p53 commented on #72
@oscar-b thank you for reporting, seems there is problem with app dir permissions, it is not owned by 1000

[code]

[2021-03-30 12:47] #72 closed

[2021-03-30 13:30] p53 commented on #72
@oscar-b please try out 1.3.0-1 image

[2021-03-30 20:20] mcejp commented on #70
It seems to work perfectly; with the cookies renamed, the sessions now effectively live in a separate namespace from before.

Maybe I didn't explain myself well, but I don't need to use two Keycloak instances with one Gatekeeper *simultaneously*. It is more of a one-time migration.

[2021-03-30 22:24] #70 closed

[2021-04-06 17:25] systemtrap opened #74 "Failure using enable-compression and enable-logging"
# Failure using enable-compression and enable-logging
## Summary
The options enable-compression and enable-logging can not be used together.

## Environment
docker: quay.io/gogatekeeper/gatekeeper:1.3.0 with --enable-compression and  --enable-logging.

## Expected Results
The usual response from upstream, but compressed. Access is logged by gatekeeper.

## Actual Results
A response with status 200

[2021-04-06 18:38] p53 commented on #74
@systemtrap thank you for reporting, will look at it, seems like bug in implementation, possibly also missing tests

[2021-04-07 11:25] p53 commented on #74
@systemtrap hi you can try #75 pull request, it will need some additional test/s but should work

[2021-04-08 07:13] systemtrap commented on #74
I'll do so. It may take a day or another as I have to setup the build and the containers.

[2021-04-08 09:07] p53 commented on #74
@systemtrap i will make new release today/tomorrow with this and another fix

[2021-04-08 20:12] #74 closed

[2021-04-08 23:08] p53 commented on #74
@systemtrap there is 1.3.1-rc1 image, could you try

[2021-04-09 19:16] #4 closed

[2021-04-15 08:55] p53 opened #78 "Accept-Encoding header is not forwarded in forwarding mode"
# Title

## Summary

## Environment

## Expected Results

## Actual Results

## Steps to reproduce

## Additional Information

[2021-04-15 08:56] p53 opened #79 "Enable CONNECT method authorization"
# Title

## Summary

## Why?

## How

## Acceptance criteria

## Additional Information

[2021-04-15 08:59] p53 opened #80 "Add External Authorization"
# Title
Develop Authorization Plugin

## Summary

Righ now there is one built-in authorization, it would be nice to enable different type of authorizations by using plugins

## Why?

more flexibility

## How

## Acceptance criteria

## Additional Information

[2021-04-20 09:53] systemtrap commented on #74
I'm sorry for being silent for so long. It works as expected now.

[2021-05-14 08:23] escoand opened #81 "Incorrect refresh token lifetime"
# Incorrect refresh token lifetime
## Summary
I'm experiencing incorrect refresh token lifetimes. The logging shows too short lifetimes. But there is no way to log the raw OIDC response to verify it.
[code]

But when calling the refresh with curl I can't see these short lifetime values:
[code]

## Environment
Version of everything that it's running in your environment:
- OS: Linux
- Kernel (e.g. `

[2021-05-14 14:53] p53 commented on #81
@escoand from your description it is not clear what you were doing, can you paste your curl requests.

what do you mean by:  The logging shows too short lifetimes, which values do you mean.
As i checked there is one inconsistency in logging:

this give duration converted to more human readable form 29m59..s

[code]

This is duration in seconds:
[code]

[2021-05-14 19:10] p53 commented on #81
@escoand i tried to simulate your error message
i set SSO session Idle=refresh token expiration to 2 min.
had access token lifetime=60s
When access token lifetime expires but refresh token is still valid it acquires new access token without problem
when access token expires and also refresh token expires i am getting this message:

[code]

But it is as it should be because therefore is there SSO s

[2021-05-14 19:15] p53 commented on #81
@escoand what are your settings?

[2021-05-17 06:47] escoand commented on #81
Thanks for the fast response. For me there are 2 points

1.  Why is the gatekeeper saying `"refresh_expires_in": 1798.999883207, "expires_in": 1798.805463817` when the refresh timeout it's actually 12h?
2. I would like to request an extended logging. Nice would be a session id to follow the whole flow from login, refresh(s) and timeout to check user complaints. Furthermore the Keycloak server team

[2021-05-17 06:52] jangaraj commented on #81
2. Request ID will be better for tracing - (it can be enabled `enable-request-id` or used from existing header `request-id-header` or completely missing).

[2021-05-17 07:42] escoand commented on #81
This is not what I had in mind. I would like to follow one specific user session in the logs. These lines for one out of hundreds sessions:
[code]

[2021-05-17 09:48] p53 commented on #81
@escoand yup agree, enhanced logging would be beneficial for everyone, i will update it, could be there are also inconsitencies in logging...

regarding this, i am not sure to which logs you are refering but this should be remaining refresh token token lifetime

[code]

at login there should be 12h and this ^ should be remaining, altough there is ```renew refresh cookie with new refresh token```,

[2021-05-17 09:56] escoand commented on #81
@p53 Thanks. As you can see in my last post at login the duration is `32955.5038984` but with every refresh it's `1800`, similar to access token lifetime.

[2021-05-17 10:00] p53 commented on #81
@escoand would be better if you could post your settings line by line: access token lifetime, refresh token lifetime, max. session lifetime (from keycloak) and also gatekeeper settings (of course without passwords etc...)

[2021-05-17 10:12] p53 commented on #81
@escoand yup checked now, logging is bad actually i have 2 min refresh token lifetime and it logs this in debug mode:

[code]

but functionality is good because when i try to refresh access token with refresh in 2 min refresh token lifetime it works

[2021-05-17 10:13] escoand commented on #81
I can show you just the gatekeeper config, the server part is not under my control:

[code]

[code]

[2021-05-17 21:34] p53 commented on #81
@escoand i added some additional logging, fixed refresh token expiration, https://github.com/gogatekeeper/gatekeeper/pull/82

[2021-05-18 12:14] escoand commented on #81
@p53 I got in contact with @jangaraj to reproduce the problem in our "real life deployment". The user for whom the "Token not active" problem was reported is being used on multiple PCs with multiple sessions at the same time. Could this problem be caused by some kind of race condition?

[2021-05-18 20:40] p53 commented on #81
@escoand did you check in logs if refresh token for user was not expired?

[2021-05-18 21:30] escoand commented on #81
First, with 1.3.1 it's hard to find the right log for one specific user out of hundreds. And second, the tokens are not in the logs, or did I miss something?

[2021-05-18 21:34] escoand commented on #81
@p53 I could deploy a verbose binary, but don't have a working go build environment.

[2021-05-18 21:46] p53 commented on #81
@escoand i will build image

[2021-05-19 06:10] escoand commented on #81
@p53 Thanks for the logging, this is already a huge optimization. I can provide logs now, but it contains sensitive and private data and I won't upload it here. How can I contact you?

[2021-05-19 06:26] p53 commented on #81
@escoand filter from logs one user which has problem, leave there only beggining of access/refresh token, send me message on discord, link is at main readme

[2021-05-20 12:52] PraserX opened #84 "Can't get version of binary"
Cannot get current version of binary. Command `gatekeeper -v` or `gatekeeper --version` returns `gatekeeper version unable to parse compiled time`.

[2021-05-20 14:22] p53 commented on #84
@PraserX yup confirmed

[2021-05-21 07:40] p53 commented on #84
@PraserX fixed 1.3.1-3

[2021-05-21 07:40] #84 closed

[2021-05-21 13:25] #81 closed

[2021-05-31 08:36] omasseau opened #87 "oauth/login endpoint : "context deadline exceeded" error when invalid credentials are provided"
# Title
oauth/login endpoint : "context deadline exceeded" error when invalid credentials are provided

## Summary
When using gatekeepers's oauth/login endpoint, if invalid credentials are provided then no response is returned to the client and I get a "context deadline exceeded" error in the Gatekeeper console

## Environment
- OS: Windows 10
- Keycloak 12.0.4
- Gatekeeper 1.3.1-3_windows_amd64

[2021-05-31 11:23] p53 commented on #87
@omasseau hi could you provide all options you use with gatekeeper (assuming you don't use any custom federation on keycloak side?), i cannot reproduce it for me bad credentials return 401 (i tested locally) & tests are fine

[code]

[2021-05-31 11:28] p53 opened #89 "SkipTokenVerification with Login handler panics"
# Title
SkipTokenVerification with Login handler panics

## Summary
When skiptokenverification enabled with login handler enabled auth with /oauth/login panics

## Environment

## Expected Results

## Actual Results

[code]

## Steps to reproduce

## Additional Information

Problem is that with skiptokenverification provider is not initialized but during login handler is required

https://github.c

[2021-05-31 12:34] #89 closed

[2021-05-31 15:05] omasseau commented on #87
@p53 Hi ;)

I don't use any custom federation on keycloak side.
Here is my yaml file:
[code]
And here is the curl result:
[code]

It works perfectly when my credentials are valid :

[code]

[2021-05-31 20:46] p53 commented on #87
@omasseau i used exact same options and i am getting 401 (using docker image 1.3.1):

[code]

and as i checked you are getting empty reply from server message which is quite weird

[2021-06-01 07:54] omasseau commented on #87
@p53 Hum weird indeed. OK I will try with the docker image ;)
Juste to be sure, you did your tests with Keycloak 12.0.4 ?

[2021-06-01 08:16] p53 commented on #87
@omasseau yes i tried with 12.0.4 image, could be also issue with windows binary -> if docker image will work

[2021-06-01 09:40] omasseau commented on #87
I've not tried with the image yet, but it seems it is Keycloak that is not responding if I check with Wireshark.
The call to Keycloak endpoint  /auth/realms/demo/protocol/openid-connect/token running on port 8180 is correctly done (ACK on the second line)

After the timeout of 30s, Gatekeeper decides to naturally close the connection (FIN on the 5th line).

[code]

So the problem seems to be on th

[2021-06-01 10:07] omasseau commented on #87
Well after determining that the problem was on the Keycloak side, restarting the Keycloak server fixed the problem.
I hope it wil not happen again. Else I will create a Keycloak issue.
Thanks for looking :)

[2021-06-01 10:08] #87 closed

[2021-06-16 07:56] OskarsPakers opened #94 "Support for custom cookie names"
## Summary

Currently, it is possible to configure cookie names for kc-state and kc-access cookies using CookieAccessName and CookieRefreshName configuration parameters, but it is not possible to provide custom names for request_uri and OAuth_Token_Request_State cookies.

## Why?

To be able to run multiple gatekeeper instances under the same domain. Also to be able to upgrade seamlessly from the

[2021-06-16 08:28] p53 commented on #94
@OskarsPakers thank you for your pull request! will look at it, will need to add some tests

[2021-06-17 07:20] #94 closed

[2021-06-17 07:32] OskarsPakers commented on #94
Thank you very much for accepting and assisting on this in such a short time!

[2021-06-17 08:54] p53 commented on #94
@OskarsPakers you can test 1.3.3-rc1 image if all works as expected

[2021-06-17 09:41] OskarsPakers commented on #94
@p53  Cookie names look good, they are all now customized and they don`t clash with old ones.
This is a nightmare of getting rid of old cookies, because browsers just send both cookies and from the request one cannot determine which cookies is set to which domain.

However, the logout is not working, but it is not due to this change, but due to commit https://github.com/gogatekeeper/gatekeeper/com

[2021-06-17 10:09] p53 commented on #94
@OskarsPakers which version of keycloak do you have?

[2021-06-17 10:21] p53 commented on #94
@OskarsPakers here is also 13 keycloak version docu https://www.keycloak.org/docs/latest/server_admin/index.html#_oidc-endpoints, i cannot find it in old version of keycloak

[2021-06-17 10:23] OskarsPakers commented on #94
@p53 Oh. We`re running Keycloak 9.0.13 and the change I guess was introduced in Keycloak 10.
Would you accept a PR to configure this parameter field smth like revocation-token-parameter?
I don`t see another way out as the Keycloak upgrade is a few months in the future for us.

[2021-06-17 10:27] p53 commented on #94
@OskarsPakers ok, i think more users might have this problem

[2021-06-17 10:35] OskarsPakers commented on #94
Ok. An alternate approach might as well be to not do server-to-server revocation but send user to keycloak url /auth/realms/iw-simple/protocol/openid-connect/logout. But there is nothing like this currently in gatekeeper.
I will create a new issue and submit a PR for customizing the revocation token parameter.

[2021-06-17 10:41] OskarsPakers opened #99 "Logout not working for Keycloak <10"
## Summary

In Keycloak versions below 10, there is no /realms/{realm-name}/protocol/openid-connect/revoke endpoint and the server side logout must be done to /protocol/openid-connect/logout endpoint with refresh token in "refresh_token" parameter. However gatekeeper sends this parameter with name "token".

## Environment
- OS: Debian
- Go (e.g. go version)
- Server (e.g. Keycloak or any other IdP

[2021-06-17 10:54] p53 commented on #94
@OskarsPakers there is EnableLogoutRedirect parameter

[2021-06-17 10:56] p53 commented on #99
@OskarsPakers there is EnableLogoutRedirect parameter this would not work for you?

[2021-06-17 11:53] OskarsPakers commented on #99
@p53 missed that one. In fact, it works for me. I`ll just redirect users to keycloak logout url.
 I think it is not worth implementing a workaround for the revocation endpoint then.

[2021-06-17 12:05] #99 closed

[2021-06-17 13:32] mkilchhofer commented on #47
I have also written a chart and I'd love to contribute it to you :-)

[2021-06-17 14:58] p53 commented on #47
@mkilchhofer ok, great, just make pull request :)

[2021-06-17 15:13] p53 commented on #47
@mkilchhofer hmm, thinking, probably it would be better to have separte repo for helm-chart

[2021-06-17 15:20] mkilchhofer commented on #47
Yes, both makes sense. I'd use the Github Releases for the helm chart as well, so maybe it makes sense to decouple it and use a separate repo for the .tar.gz files and the software itself.

[2021-06-18 14:39] #21 closed

[2021-06-18 21:12] p53 commented on #6
i would like to use for e2e tests Ginko 2.0+httpexpect+k3d, Ginko 2.0 should be out possibly in July so will wait for it

[2021-06-18 22:05] mkilchhofer commented on #47
Here it is: https://artifacthub.io/packages/helm/gogatekeeper/gatekeeper

I think we can close this issue now 😃

[2021-06-18 22:22] #47 closed

[2021-06-21 14:39] Booyaabes opened #103 "/oauth/token endpoint returns raw token"
# /oauth/token endpoint returns raw token

## Summary

`/oauth/token` endpoint returns raw token with `content-type` set to `application/json`

## Environment

- `quay.io/keycloak/keycloak:13.0.1`
- `quay.io/gogatekeeper/gatekeeper:1.3.2`

## Expected Results

Either gatekeeper returns the decoded token with `content-type` at `application/json`, or it returns the raw token with `content-type` at `

[2021-06-21 21:11] p53 commented on #103
@Booyaabes thank you for reporting!

[2021-06-21 23:31] #103 closed

[2021-06-22 07:59] Booyaabes commented on #103
@p53 thank you!

[2021-06-22 15:08] Booyaabes opened #105 "/oauth/logout endpoint not working"
# `/oauth/logout` endpoint not working

## Summary

Call to `/oauth/logout` endpoint do not cause a user logout.

In logs, I have:

[code]

It seems the token is immediatly refreshed.

## Environment

- gogakeeper:1.3.2
- keycloak:13.0.1

## Expected Results

User is effectively disconnected.

## Actual Results

User is not disconnected

## Steps to reproduce

Log, then call to `/oauth/logout` end

[2021-06-22 15:22] Booyaabes commented on #105
Hmm, that's strange, I have just restart everything, and it works again...
I'll try to reproduce the problem and update this issue ASAP.

[2021-06-23 09:10] p53 commented on #105
@Booyaabes i am using this functionality, i haven't yet problems with it, if you would have any details

[2021-06-23 09:47] Booyaabes commented on #105
After somes tests (even really weird ones), I was unable to reproduce the problem. I close this issue.

[2021-06-23 09:47] #105 closed

[2021-07-13 21:19] #33 closed

[2021-07-16 10:58] holger-sa opened #109 "Config file location"
Hello, documentation tells me to configure either by parameter or config file. I miss the information where to put a config.yml to have it picked up, esp. where to mount it using the indicated Docker image.

[2021-07-16 12:42] holger-sa commented on #109
Sorry, it's is described in the command help output.

[2021-07-16 12:42] #109 closed

[2021-07-20 14:20] PraserX commented on #105
Hi, I have a same issue. But it is really strange. I have multiple services behind multiple Gatekeepers and somewhere it works fine, but somewhere not. Config is same everywhere.

**Environment**
* gogakeeper:1.3.2
* keycloak:13.0.1

[2021-09-07 15:54] testuser7 opened #115 "How to use {param} in uri definition"
After update go-chi to new version wildcard '*' must be the last pattern in a route, otherwise we need to use a '{param}'.
How to define {param}?

[2021-09-08 06:08] p53 commented on #115
@testuser7 can you please describe problem with some example

[2021-09-08 08:27] testuser7 commented on #115
As of version 1.3.5 it is not possible to define uri `/admin/*/test/*`.
The error message `wildcard '*' must be the last pattern in a route, otherwise use a '{param}'` is displayed.

[2021-09-08 21:18] p53 commented on #115
@testuser7 yes, this was bug in go-chi, fixed here https://github.com/go-chi/chi/issues/333

[2021-09-09 08:08] testuser7 commented on #115
Yes, there was a pattern handling bug.
In my case, I need to define a named param and use in uri definition `/admin/{param}/test/*` but I don't know if it can be done now.

[2021-09-09 08:57] p53 commented on #115
@testuser7 you cannot do that and it wasn't possible before with gogatekeeper

[2021-09-09 11:16] #115 closed

[2021-09-09 12:22] RusTigra opened #117 "Endpoint for discovery"
## Summary

Create "static" endpoint to get some public configuration of Gatekeeper.
Just like [.well-known/openid-configuration]

## Why?

I have some application connecting to Gatekeeper.
For example SPA connecting to API through Gatekeeper.
Application want to use some of service endpoints:
- /oauth/authorize << send user to auth service
- /oauth/logout << to logout user, nothing unusual
- /oau

[2021-09-09 14:04] testuser7 commented on #115
Is there any chance to add support for named params?

[2021-09-10 07:14] p53 commented on #117
@RusTigra i think this could be nice feature

[2021-10-17 23:09] MistaTwista opened #118 "Different behavior with return"
# Title
Allow user to choose different behavior of responses

## Summary
Add options how to reply with some statuses. Like 403, 401. Just to have more options for different types of microservices behavior.

## Why?
We are thinking of usage a gogatekeeper in microservices architecture where response should be 200 for any request, that app can handle.
So for 403 it needs to be 200 with body like `{"

[2021-11-03 11:08] praserx opened #121 "Backchannel logout"
Hi, I try to get working backchannel logout Keycloak feature. But requests from Keycloak (POST requests) are blocked with status code 405 (method not allowed).

If I read the code right, there is no Oauth route for POST method for logout and due to this router blocks the request. So this feature is missing. Am I right?

Thanks.

[2021-11-03 13:51] p53 commented on #121
no there is no support for backchannel logout

[2021-11-03 20:25] thomaskarras opened #122 "Forward Proxy setting "openid-provider-proxy" doesn't work after 1.2.0"
# Title

## Summary

I was in the process of upgrading to the latest version, 1.3.6 of gogatekeeper. The previous version we were using was the original keycloak implementation. The environment I'm installing to requires a forward proxy to communicate externally. Version 1.1.0 of gogatekeeper works fine and is able to retrieve the settings from the keycloak server but when I use any version beyond

[2021-11-04 08:32] p53 commented on #122
thanks for reporting! looked at it seems that oidc client in initialization doesn't use proxy setting and probably that's why you see connection refused, will check where culprit happened

[2021-11-05 10:08] p53 commented on #122
@thomaskarras i created pull request https://github.com/gogatekeeper/gatekeeper/pull/123, but it doesn't have tests yet, you can build your own docker image in the meantime

[2021-11-05 13:36] thomaskarras commented on #122
Thanks! I'll give it a try.

[2021-11-05 13:55] #122 closed

[2021-11-05 14:00] p53 commented on #122
@thomaskarras there is 1.3.7-rc1 image you can try

[2021-11-05 14:28] thomaskarras commented on #122
It works, thank you @p53 for the quick fix!

[2022-01-04 14:35] noamross opened #126 "unable to parse token / invalid memory address or nil pointer"
# unable to parse token / invalid memory address or nil pointer

## Summary

Using Amazon Cognito as my OpenID provider, I am able to create a login token and be redirected back to the Gatekeeper callback endpoint on my server with code and state parameters (`oauth/callback?code=cc3f242c-0f8a-4112-a3fa-1a91c627e36c&state=c66e64f9-1321-4355-acd6-7fd8e85c64bc`), but I get a 500 error, and the Gateke

[2022-01-05 22:31] p53 commented on #126
@noamross gatekeeper only supports keycloak as OpenID provider

[2022-01-06 07:28] SBlechmann commented on #80
Hey there,
first off, thanks for keeping this project up and running!
Second, is there any intention of implementing such a feature? So that the "authorization" part in keycloak's client configuration can be used?
Thanks :)

[2022-01-07 15:44] p53 commented on #80
@SBlechmann there are several things to consider here:
1. creating such feature brings additional complexity/time to project
2. more code makes binary bigger
3. i would look more at OPA (open policy agent) as authorizer as it is much more universal than authorization by keycloak
So i am not sure i would like to start it

[2022-01-07 23:10] #118 closed

[2022-01-08 11:59] p53 opened #135 "Duration configs is not taken from env vars"
Missing envVar at https://github.com/gogatekeeper/gatekeeper/blob/master/cli.go#L146

[2022-01-08 12:30] #135 closed

[2022-01-11 18:26] SBlechmann commented on #80
@p53
I did not know such tool. I'll take a look into, thanks for the advice!
I still got some questions, is is possible to have a chat sometimes?

[2022-01-12 08:19] p53 commented on #80
@SBlechmann you can write me on discord (link in gogatekeeper README), https://discord.com/invite/zRqVXXTMCv

[2022-02-28 14:27] #126 closed

[2022-03-01 06:09] praserx opened #142 "MethodNotAllowed vs Unauthorized (pull request #110)"
@p53 Hi, is it ok on MethodNotAllowed (405) return Unauthorized (401)? I am facing the issue with unknown http method and it is so much confusing if gatekeeper constantly returns Unauthorized with no obvious reason (yeah there is a reason - chi router do no know http method - but it was hard to debug what is wrong).

[code]

The second problem is that MethodNotAllowed request goes through gatekeep

[2022-03-01 11:29] p53 commented on #142
@praserx i am not sure if this was not some historical simplification, will look at it

[2022-03-01 23:44] p53 commented on #142
@praserx hi, i checked the code, because we are including HTTP methods in our resource configs (de facto including them in authorization config) we are returning not MethodNotAllowed but 401 (because method in our case of authorization proxy is part of authorization). For example if i would have endpoint /admin and method GET as protected and i will make request on it, it would return of course 40

[2022-03-02 06:20] praserx commented on #142
@p53

### HTTP status

Hmm I am sorry but I cannot agree. According to specification, status code 401 refers to unauthenticated (not logged in) request. If user is authenticated, but lack of some access rights, system should return 403 (forbidden), not 401 (unauthorized).

- If user is **unauthenticated** and accessing protected resource gatekeeper should return **401** (unauthenticated)
- If user

[2022-03-02 07:27] p53 commented on #142
@praserx yeah we can discuss if it should be 401 or 403 but then of course you would affect existing users and backward compatibility and i think this it not the only place where it returns 401 but should 403....
second problem - understand that's more serious problem i will look at it

[2022-03-02 23:12] p53 commented on #142
@praserx #144

[2022-03-03 06:04] praserx commented on #142
Looks good. I have to update my PR #143 due to [method check](https://github.com/gogatekeeper/gatekeeper/pull/144/files#diff-02f50901140d6057da6310a106670552aa766a093efbc2200fb34c099b762131R645) or feel free to update it.

[2022-03-04 22:46] p53 commented on #142
@praserx updated your feature in #145

[2022-03-04 22:46] #142 closed

[2022-03-18 22:24] #117 closed

[2022-06-15 10:58] p53 commented on #80
@SBlechmann please have a look at #161 , implemented UMA authorization workflow, for now only non-interactive, it would be beneficial if you could test it in your environment and provide feedback

[2022-06-15 14:56] p53 commented on #80
@SBlechmann made 1.5.0-rc1 release if you would like to try

[2022-06-28 06:32] SBlechmann commented on #80
@p53 hey there, hope to find some time to test within the next week. Thanks for providing this feature!

[2022-06-29 12:36] garylundie opened #167 "Always deny feature"
When `enable-default-deny: true`, URIs which are not defined in the resources section of the Go-Gatekeeper config are still accessible if any valid authentication token is presented.

Default deny adds default resource /* - so it is more like enable-default-required-auth feature.

`	if enableDefaultDeny {
		r.log.Info("adding a default denial into the protected resources")

		r.config.Resources =

[2022-06-29 13:57] p53 commented on #167
@garylundie if i understood your use case correctly you would like to always return 401/403 whether it has token or not, yes enable-default-deny is meant default deny related to auth so maybe enable-default-required-auth would be more precise

[2022-06-29 19:55] lelvisl opened #168 "Token exchange support"
# Token exchange support

## Summary

Add token exchange mechanism.

## Why?

You want to accept token from one client, exchange to token from another client (with different scopes and attributes) and send requests with this token.

## How

https://www.keycloak.org/docs/latest/securing_apps/index.html#internal-token-to-internal-token-exchange

## Acceptance criteria

app, wrapped by gatekeeper, ge

[2022-06-30 06:49] #29 closed

[2022-07-06 18:52] p53 commented on #167
@garylundie but you can achieve similar effect by applying configuration like this https://github.com/gogatekeeper/gatekeeper/blob/master/docs/user-guide.md#white-listed-urls, without enable-default-deny

[2022-07-11 07:22] #80 closed

[2022-07-13 10:09] warmanton opened #179 "keycloak quarkus version has no "auth" prefix in path"
# Title
keycloak quarkus version has no "auth" prefix in path

## Summary
Cannot configure kecloak without "auth" prefix

## Environment
Version of everything that it's running in your environment:
- OS: docker
- Go (e.g. go version): go version go1.18.3 linux/amd64
- Server (e.g. Keycloak or any other IdP): keycloak (quay.io/keycloak/keycloak:18.0.2)
- Gatekeeper: commit 0821c70ed27e527bafc14b183

[2022-07-13 13:57] p53 commented on #179
https://github.com/Nerzal/gocloak/issues/346

[2022-07-13 14:16] p53 commented on #167
@garylundie i added enable-default-deny-strict option, it is in main branch, you can try

[2022-07-17 14:02] p53 opened #191 "OPA authorization"
# Title

## Summary

## Why?

## How

## Acceptance criteria

## Additional Information

[2022-07-21 10:11] garylundie commented on #167
@p53 - verified the changes look to achieve the required results.  I've been unable to build locally and will be able to review more fully once the merge is available as a docker image

[2022-07-21 10:19] garylundie opened #192 "Log RequestId or Custom Headers"
# Log RequestId or Custom Headers

## Summary
Provide an option to log the request header (e.g. X-Request-Id) or a custom header (e.g. X-User-Session-Id) in log messages written by gatekeeper

## Why?
When triaging issues across microservices where gatekeeper is used as a sidecar, it is not always clear what logs in gatekeeper relate to the incoming http request as recorded by the upstream server.

[2022-07-22 16:19] p53 commented on #167
@garylundie there is 1.6.0-rc1 image in quay.io repo

[2022-07-28 07:43] garylundie commented on #167
Thanks for the update - tested the image and now all working as expected

[2022-08-03 13:18] #167 closed

[2022-08-03 14:19] p53 commented on #192
Right now logging middleware logs incoming request so what we can log relatively easily are incoming request headers, so if e.g. nginx/apache generates request id it can be logged. But there is option ``enable-request-id`` which can generate uuid for request and add it to header specified in ``request-id-header`` but it will be not in gogatekeeper logs, also custom headers created by gogatekeeper

[2022-08-04 06:45] p53 commented on #192
maybe it would be to log both incoming and outgoing but just in debug level

[2022-08-04 07:54] garylundie commented on #192
I think initially the request was to add logging for incoming request headers - allowing the header name to be specified in config as its already in use across other components in the stack.  Reviewing the logging middleware though, I wasn't sure if the incoming request is logged independently, or if its logged along with the other messages - for example, I can see in the logs just now that a requ

[2022-08-04 08:41] p53 commented on #192
probably easiest to do this would be to use enable-request-id which would be generated by gatekeeper for request and log this in other places through entire lifecycle of request but i need to check what that would require

[2022-08-04 08:58] garylundie commented on #192
Whilst this does make sense if gatekeeper was the first hop in the journey, the purpose of these headers is track actions originating at a user browser and being passed between multiple microservices.  Right now, our java apps allow us to log the header on each service, as does our proxies, meaning we can query the request ID in our logging stack and see the full request from browser start, even i

[2022-08-04 09:21] p53 commented on #192
yeah i understand what you mean, that's why i mentioned that we need to log incoming headers also but not all on places, e.g. one log entry would have both incoming headers + gogatekeeper uuid but other gatekeeper entries only gatekeeper uuid, it would be maybe a little bit harder to set up tracking that's true, anyway i will check and think about both aproaches

[2022-08-07 00:17] p53 commented on #192
@garylundie i enabled logging of headers in request chain (in authentication, authorization, logging middleware), you can enable it by using ``enable-logging=true`` and ``verbose=true``, there is 1.6.1-rc1 image

[2022-08-10 03:01] RicardoFernandez-UY opened #200 "make fails on Windows when trying to build from source"
Hi,
I'm trying to build from source on a Windows 10 machine.
I have go 1.19
I followed the steps given in : https://github.com/gogatekeeper/gatekeeper/blob/master/docs/building.md
And issued this command:

`make && make test --no-silent`

It starts and displays:

[code]
Then it stays there for a long time showing nothing else, and when I hit enter it shows:

[code]

What could be the problem? Your

[2022-08-10 10:22] p53 commented on #200
please use linux for this software, not sure what you are using on Win, probably cygwin, problem will be output of this command ``date '+%s'``, you can use WSL for compiling

[2022-08-10 14:00] RicardoFernandez-UY commented on #200
Understood. Thank you!!

I usually do my testing in Windows/Docker and then deploy in Linux.
I first tried the docker example here https://github.com/gogatekeeper/gatekeeper, but it didn't work.
Maybe because I have Keycloak also running in Docker, and I have one of those docker networking problems, or I'm missing something else on the gatekeeper side. I think that on Keycloak side things are ok b

[2022-08-10 14:14] #200 closed

[2022-08-18 23:41] djessich commented on #179
I have the same problem. Without using `/auth` in discovery URL, gatekeeper does not start. Please provide a fix for that, as Keycloak 17 changed its default context path and this software is not conform anymore.

[2022-08-19 06:45] p53 commented on #179
@djessich there is workaround for that as mentioned in issue i posted above https://github.com/Nerzal/gocloak/issues/346#issuecomment-1143207855

[2022-08-19 08:32] djessich commented on #179
@p53 So the solution you mean is to change back the context URL for Quarkus distribution with `bin/kc.[sh|bat] start-dev --http-relative-path /auth` ?

[2022-08-19 08:38] p53 commented on #179
@djessich yes

[2022-08-19 08:53] djessich commented on #179
@p53 depends on the Helm chart you're using. I use `codecentric/keycloakx` and there is an option for this, so this isn't a problem. The developers also set it to `/auth` for compatibility reasons.

[code]

However, in the past I also changed that for the legacy Wildfly distribution to `/`, because I did not understand why Keycloak is served under an additional subcontext that does not bring any b

[2022-08-19 09:07] p53 commented on #179
@djessich yeah that /auth is redundant, i added that nerzal library dependency because i wanted to add keycloak authorization funcionality which would require several new calls to keycloak and processing so it was faster to use that library but it has prons that fixing issues like this will take longer/more work

[2022-08-19 09:09] djessich opened #205 "Question: How to deploy Gatekeeper with Helm alongside to other apps deployed with Helm on Kubernetes"
While reading the docs and studying Gatekeeper, a situation came into my mind, resulting in various questions regarding "correct" Kubernetes deployment.

Imagine the following situation:
Deploy an application like Nextcloud into namespace `nextcloud` using Helm chart on a Kubernetes cluster. The helm chart creates a Deployment within Kubernetes for Nextcloud and additional resources required for N

[2022-08-19 09:09] djessich commented on #205
@p53 Do you know the correct deployment in Kubernetes alongside other application when both Gatekeeper and the app to be protected are deployed using Helm? Thanks in advance.

[2022-08-19 09:11] djessich commented on #179
@p53 Completely understand that, why reinventing the wheel.

[2022-08-19 09:13] p53 commented on #205
@djessich there is upstream-url parameter, yes you can pass DNS name of service+port to that url, gatekeeper acts as proxy (similar to nginx)

[2022-08-19 09:36] p53 commented on #205
@djessich i would also consider leaving nginx before gatekeeper as gatekeeper is not fully-fledged proxy and you might need to restrict some http options which are not available in gatekeeper

[2022-08-19 10:31] djessich commented on #205
@p53 Thank you for your fast reply. I use Traefik as reverse proxy, but this isn't a problem. In my setup, it is exactly as you said:
User -> Traefik (namespace: x) -> Gatekeeper Pod (namespace: y) -> App Pod (namespace: y). So Gatekeeper comes after Traefik reverse proxy. I'm restricting various App URL endpoints to specific IPs, so I'm required to leave Traefik in front of Gatekeeper.

However,

[2022-08-19 11:31] p53 commented on #205
@djessich no it doesn't have to be sidecar

[2022-08-19 12:36] djessich commented on #205
Ok perfect, so I'll give it a try. Thank you for clarification 👍

[2022-08-19 12:36] #205 closed

[2022-08-22 09:01] #192 closed

[2022-08-31 18:40] ChristianCiach opened #206 "Allow usage of go-gatekeeper as auth-service for traefik forward-auth (or nginx auth_request or similar)"
Let me preface my issue by saying that I absolutely **love** this project! This is exactly what we need and I am especially excited for the teased OPA integration.

Previously we were using oauth2-proxy, but this leaves a lot to be desired and the configuration is awkward at best. With gogatekeeper we are only missing a single little feature, which leads me to this request.

## Summary

Instead of

[2022-08-31 18:47] ChristianCiach commented on #206
The `static://` upstream schema was added to oauth2-proxy to support `ext_authz` of Envoy: https://github.com/oauth2-proxy/oauth2-proxy/issues/219

This means that adding something like this to go-gatekeeper will probably allow it to be used for many similar use-cases (if go-gatekeeper is able to return a simple 401 response for failed token validations instead of redirecting to a login page, whic

[2022-09-01 07:36] p53 commented on #206
@ChristianCiach you can switch off redirecting to a login page by using option:
`# Returns HTTP 401 when no authentication is present, used with forward proxies.
no-redirects: false`

[2022-09-01 08:16] ChristianCiach commented on #206
@p53 Thanks. I.think the docs are probably explicit enough. I just didn't try out this stuff before creating this issue.

The comment "used with forward proxies" probably also threw me off. But we should probably change this line if Gatekeeper will be made to work with forward-auth to mention this use-case also.

[2022-09-01 09:26] p53 commented on #206
@ChristianCiach yes i can update it, it is useful also when you would like protect just APIs and use client credentials grant, but for your use case when token will be valid, request will be forwarded to upstream, that means in current situation either request will hit your backend twice, one for gatekeeper and one for traefik or you will have to have some dummy backend which always returns 200 an

[2022-09-01 09:36] ChristianCiach commented on #206
Yes, I agree, that would be even better than a dummy upstream-url like oauth2-proxy is using. Thanks for actually considering this!

[2022-09-01 09:38] ChristianCiach commented on #206
I actually was considering that, but I would rather avoid that if possible to keep thinks as simple as possible.

[2022-09-05 23:29] p53 commented on #206
@ChristianCiach i implemented features which enable you to configure gogatekeeper as forward-auth https://github.com/gogatekeeper/gatekeeper/blob/master/docs/user-guide.md#forward-auth, done it this way because it is more general and allows more use-cases

[2022-09-05 23:42] ChristianCiach commented on #206
Awesome, thank you very much! I will test this tomorrow or later this week at the latest.

[2022-09-06 23:45] ChristianCiach commented on #206
@p53 I see that you also included a new "header matching" mechanism together with the `NoProxy` option. You clearly envisioned some specific use-case for using these two features together, but I am not sure I understand it.

What is the header matching good for? What problems are you trying to solve with it? I have the feeling I am missing something important.

[2022-09-07 06:47] p53 commented on #206
@ChristianCiach as i checked traefik and nginx forward-auth configuration, with traefik you must have fixed forward-auth url:
`  forwardAuth:
    # Important: Add namespace to URL, because it gets called by traefik which runs in kube-system.
    address: http://apis-oauth-proxy.default:4180/oauth2/auth
`
That means when you forward request from your proxy to gogatekeeper you lose /path information

[2022-09-08 20:50] sk1m opened #209 "Log client_ip with real ip value"
# Log client_ip with real ip value

## Summary

Set field value "client_ip" to real ip when logging.

## Why?

Currently, field client_ip has value of RemoteAddr, which can be unuseful if gatekeeper placed behind another proxy.

## How

Use `utils.RealIP` result for "client_ip" field value.

## Acceptance criteria

## Additional Information

[2022-09-09 06:54] p53 commented on #209
@sk1m understand why it is useful but what if you want to e.g. log both

[2022-09-09 07:44] sk1m commented on #209
@p53 agree, much better will be write both

[2022-09-09 13:24] p53 commented on #206
@ChristianCiach how it worket to you?

[2022-09-09 13:26] ChristianCiach commented on #206
@p53 I am very embarrassed that testing this stuff takes so much longer than you took to implement it 😅

I am currently busy with unforseen stuff at work, but I promise I get back to you very soon!

Yes, this makes perfect sense! Thank you for thinking ahead.

[2022-09-09 18:44] #209 closed

[2022-09-12 21:47] ChristianCiach commented on #206
Most likely I will thoroughly test this with multiple traefik IngressRoutes tomorrow! You way want to hold back the final release of 1.7.0 until then. Sorry for leave you hanging!

(Actually, when I created this feature request, I thought "well, this will probably take a few months...". You took me by surprise to implement it that quickly. So I didn't reserve time for testing it 😄)

[2022-09-12 22:13] p53 commented on #206
@ChristianCiach no hurry, just take your time...., i will leave this issue opened anyway until you confirm that it works for you

[2022-09-13 19:54] ChristianCiach commented on #206
I am testing 1.7.0-rc2, but I cannot get it to work.

This is my current Deployment:

[code]

This is the traefik middleware:
[code]

Observations, in no specific order:
* It took me a while to figure out that I need to enable `no-proxy`. I find the documentation a bit lacking in general, but that's not a big issue.
* At first the gatekeeper refused to connect to out keycloak, because our SSL cert

[2022-09-13 20:11] ChristianCiach commented on #206
Interestingly, Traefik passes the `303 - See Other` redirect back to the originating caller. When this happens, Gatekeeper logs nothing.

[2022-09-13 20:17] p53 commented on #206
@ChristianCiach
- hmm there is explicitly mentioned no-proxy in forward-auth documentation, i can give there it is MUST
- you can use --skip-openid-provider-tls-verify, (usually when you cannot find something in user-docs you can try settings.md, there is so much options that really is hard to document every possible thing)
- you should not use /oauth/authorize (thats used for oauth flow which is

[2022-09-13 20:28] p53 commented on #206
@ChristianCiach i think i will have to give some example on protecting REST API's with gatekeeper because it seems it is not very known thing

[2022-09-13 20:30] ChristianCiach commented on #206
Yes, it is in the documentation, but maybe there should be a complete example for the forward-auth use case. I still think it's a bit confusing, but maybe that's just me :)

I've seen this, but I would rather avoid this option, since *this* hostname is especially important to verify. Thanks for the pointer, though!

Thanks for this! `--enable-default-deny` seems to be the default and that is what

[2022-09-13 20:37] ChristianCiach commented on #206
Will this even have any effect when using forward-auth? As I understand it, Traefik will only ever request the `/` path of the gatekeeper. It will never attach the requested path to the auth-service, but will send it as a header instead. Traefik will add the requested part as an additional header `X-Forwarded-Uri`, but Gatekeeper won't check this when using URL-resource-matchers, I guess...? So UR

[2022-09-13 20:43] p53 commented on #206
`--skip-openid-provider-tls-verify` yup this is meant especially for quick testing, when you don't want to bother with certs.
if you give `--enable-default-deny=true` it will protect all paths /*, when you will give =false, it will return 200 even for /, unless you explicitly set conditions in resources

[2022-09-13 20:45] ChristianCiach commented on #206
Thanks for everything so far! It seems to work just fine, ignoring the small cosmetic issues in the logs. Have a nice evening!

[2022-09-15 09:06] YuesIt17 opened #214 "Support keycloak logout in gatekeeper"
# Support keycloak logout in gatekeeper
Hi, please tell me if there will be compatibility support for keycloak logout  in gatekeeper.

As written in the documentation https://www.keycloak.org/docs/latest/securing_apps/index.html#_keycloak_generic_adapter

Description Logout in Keycloak

That is, the ability to support parameters **id_token_hint** and **post_logout_redirect_uri**  in gatekeeper?

[2022-09-15 18:17] ChristianCiach commented on #206
Now that 1.7.0 and this seems to work fine, I will close this issue. Thanks again!

[2022-09-15 18:17] #206 closed

[2022-09-16 18:48] p53 commented on #214
@Mikh36 yes it will be supported as it affects current funcionality of gatekeeper

[2022-09-26 14:34] #191 closed

[2022-10-04 09:16] p53 commented on #214
@YuesIt17 @Mikh36 just FYI, not sure if this could fit you - logout solution independent of this keycloak change with gatekeeper could be /oauth/logout?redirect=your-redirect-url (with bearer token in headers), r.config.EnableLogoutRedirect=false, this will revoke current access token

[2022-10-05 12:51] p53 opened #229 "HMAC forward signing+verification"
# Title

## Summary

## Why?

to ensure request integrity

## How

## Acceptance criteria

## Additional Information

[2022-11-16 18:53] maksimkurb commented on #179
@p53 New [12.0.0](https://github.com/Nerzal/gocloak/releases/tag/v12.0.0) release of Gocloak library includes a [fix for this issue](https://github.com/Nerzal/gocloak/issues/346)

[2022-11-18 12:37] p53 commented on #179
Yup, i had to also made some commits to gocloak to speed up merging that change in gocloak. I would like to make new gatekeeper release this or next week hopefully

[2022-11-23 08:52] p53 commented on #206
@bcm0 replied to you also on discord
- checked, yes docu is bad will need to update, resources should be used

[2022-11-29 12:59] #179 closed

[2022-11-29 12:59] #214 closed